.HomeContainer{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
}
.TrendingContainer{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 30px;
    margin: 70px 0px 0px 0px;
}
.MiddleContainer{
    display: flex;
    flex-direction: column;
    margin: 70px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.RightBarContainer{
    display: flex;
    flex-direction: column;
    margin: 70px 0px 0px 10px;
}
.ShowTrendingContainer{
    display: none;
    height: 30px;
    margin-top:70px;
    flex-direction: row;
}
.ShowTrendingBtn{
    position: fixed;
}
.TopicContainer{
    display: none;
    margin: 70px 0px 0px 10px;
    border: 2px solid black
}